<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cooking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3689F4751BE8A1C900799A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3689F48E1BE8A1C900799A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3689F4991BE8A1C900799A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
